* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

body {
  max-width: 100vw;
}

.mainWrapper {
  width: calc(100vw - 5px);
  height: 100vh;
  text-align: center;
}

.overflowHidden {
  overflow: hidden;
}

input {
  width: calc(100% - 10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  padding-left: 8px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

textarea {
  position: absolute;
  top: -99999999px;
  left: 0;
  opacity: 0;
}

div#visibleText {
  width: calc(100% - 5px);
  height: 100%;
  overflow: auto;
  text-align: start;
  margin-top: 10px;
  padding-left: 5px;
}
