* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

.mainWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.overflowHidden {
  overflow: hidden;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

textarea {
  position: absolute;
  top: -99999999px;
  left: 0;
  opacity: 0;
  /*
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  */
}
